@using TravelFoodCms.Models.ViewModels;

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">Access Denied</div>
                <div class="card-body">
                    <h2>You do not have permission to access this page.</h2>
                    <p>Only administrators can perform this action.</p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>